main {
    width: 100vw;
    min-height: calc(100vh - 100px);
    overflow-x: auto;
}

.desktop {
    display: unset!important;
}

.mobile {
    display: none!important;
}

.signedIn {
    display: none;
}

.notSignedIn {
    display: unset;
}

.pageForm {
    background-color: #eeeeee;
}

.pageForm > .grid {
    height: 100%;
}

.pageForm .column {
    max-width: 450px;
    margin: 10px;
}

.pageForm .afterForm {
    margin-top: 10px;
}

.toast {
    position: fixed!important;
    top: 50px;
    right: 20px;
}

#map {
    width: 100vw;
    height: calc(100vh - 100px);
    object-fit: contain;
}

#map a {
    transition: 0.5s;
}

#map a:hover {
    opacity: 0.8;
}

#map polygon {
    stroke-width: 2px;
}

#map polygon.selected {
    stroke: #ff5252;
    stroke-width: 5px;
    stroke-linejoin: round;
}

#database td input {
    width: 100%;
    min-width: 100px;
    max-width: unset;
}

@media (max-width: 800px) {
    .desktop {
        display: none!important;
    }

    .mobile {
        display: unset!important;
    }
}